bucket = "linksim-terraform-state"
key    = "state/prod/terraform.tfstate"
region = "auto"
endpoint = "https://85c57e0c4da3a747a09212dc5b090f52.r2.cloudflarestorage.com"

skip_credentials_validation = true
skip_metadata_api_check     = true
skip_region_validation      = true
force_path_style            = true
