bucket = "linksim-terraform-state"
key    = "state/staging/terraform.tfstate"
region = "auto"

skip_credentials_validation = true
skip_metadata_api_check     = true
skip_region_validation      = true
skip_requesting_account_id  = true
skip_s3_checksum            = true
use_path_style              = true

endpoints = {
  s3 = "https://85c57e0c4da3a747a09212dc5b090f52.r2.cloudflarestorage.com"
}
